{% extends "main/base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h2>Bienvenue, {{ user.email }} !</h2>
    <p>Statut de Fidélité : {{ loyalty_status }}</p>
    <p>Points de Fidélité : {{ points }}</p>
    
    <h3>Vos Coupons</h3>
    <ul>
        {% for coupon in coupons %}
            <li>
                <strong>Produit :</strong> {{ coupon.product }}<br>
                <strong>Réduction :</strong> {{ coupon.reduced_price }}€<br>
                <strong>QR Code :</strong><br>
                {% if coupon.qr_code_image %}
                    <img src="{{ coupon.qr_code_image.url }}" alt="QR Code pour le coupon {{ coupon.id }}" width="150">
                {% else %}
                    <p>QR Code non disponible.</p>
                {% endif %}
                {% if coupon.is_redeemed %}
                    <p>Ce coupon a été utilisé.</p>
                {% else %}
                    <p>Disponible.</p>
                {% endif %}
            </li>
        {% empty %}
            <p>Aucun coupon disponible.</p>
        {% endfor %}
    </ul>
    
    <h3>Offres Personnalisées</h3>
    <p>Des offres personnalisées apparaîtront ici.</p>
{% endblock %}
