{% extends "main/base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h2>Bienvenue, {{ user.first_name }} !</h2>
    
    <h3>Offres Personnalisées</h3>
    <div class="recommendations">
        {% for pizza in recommendations%}
            <div class="pizza-card">
                <h4>{{ pizza.name }}</h4>
                <img src="{{ MEDIA_URL }}{{ pizza.image }}" alt="{{ pizza.name }}" class="pizza-image">

                <p>{{ pizza.ingredients }}</p>
                <p><strong>Prix : </strong>{{ pizza.unit_price }} €</p>
            </div>
        {% endfor %}
    </div>

    <h3>Top ventes</h3>
    <div class="pizzas">
        {% for pizza in best_sold_pizzas %}
            <div class="pizza-card">
                <h4>{{ pizza.name }}</h4>
                <img src="{{ MEDIA_URL }}{{ pizza.image }}" alt="{{ pizza.name }}" class="pizza-image">

                <p>{{ pizza.ingredients }}</p>
                <p><strong>Prix : </strong>{{ pizza.unit_price }} €</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
